
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark-1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
.dark4{
    color: #A3A3A3;
}
.head-container{
    background-image: url(/images/developer.png), url(../images/header_bg.png) ;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px 50px 230px;
}
nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* Orange Color */
.text-primary{
    color: #FD6E0A;
}
ul{
    display: flex;
    gap: 51px;
    align-items: center;
}
nav ul li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
nav h3{
    font-size: 45px;
    font-weight: 800;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
}
/* About Section */

.about_greeting{
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}
.about_name{
    font-size: 85px;
    font-weight: 700;
    margin: 5px 0 20px 0;
}
.about_description{
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 18px 0 ;
}
.about_section{
    max-width: 580px;
}
.about{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.about_button_section{
    display: flex;
    gap: 20px;
}