
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark-1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
.dark4{
    color: #A3A3A3;
}
.head-container{
    background-image: url(//images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat, no-repeat,no-repeat;
    width: 1600px;
    height: 837px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 230px;
}
nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* Orange Color */
.text-primary{
    color: #FD6E0A;
}
ul{
    display: flex;
    gap: 51px;
    align-items: center;
}
nav ul li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
nav h3{
    font-size: 45px;
    font-weight: 800;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
}
